<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <title>Stock Alarm</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://localhost:8080/css/style.css">


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>


<div id="login">
    <h3 class="text-center text-white pt-5">Stock Alarm App</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" th:action="@{/sign-in}" class="form" action="" th:method="post">
                        <h3 class="text-center text-info">Login to Stock Alarm App</h3>
                        <div class="form-group">

                            <input type="text" class="form-control" placeholder="First Name" id="firstname" name="name"
                                   required>
                            <br>

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name" id="lastName"
                                       name="name"
                                       required>
                                <br>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Username" id="username"
                                       name="username"
                                       required>
                            </div>
                            <div class="form-group">
                                <input id="password-field" type="password" name="password"
                                       class="form-control"
                                       placeholder="Password"
                                       required>
                                <span toggle="#password-field"
                                      class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50">
                                    <label class="checkbox-wrap checkbox-primary">Remember Me
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="#" style="color: #fff">Forgot Password</a>
                                </div>
                            </div>

                            <div class="form-group">
                                <a th:href="@{/sign-up}" type="submit" class="form-control btn btn-danger px-3">Sign
                                    Up</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>



