<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <title>StocMan Wernetto</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="http://localhost:8080/css/style.css">

    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/popper.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/main.js"></script>
</head>
<body th:style="'background-image: url(images/1s.jpg);background-repeat: no-repeat; background-attachment: fixed; background-position: center;'">

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Stock Alarm App</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <h3 class="mb-4 text-center">Have an account?</h3>


                    <form role="form" th:action="@{/sign-up}" th:method="post" th:object="${user}" class="signin-form">
                        <div class="form-group">
                            <input type="text" id="nume" name="nume" th:field="*{firstName}" class="form-control"
                                   placeholder="Nume"
                                   required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="nume" name="prenume" th:field="*{lastName}" class="form-control"
                                   placeholder="Prenume"
                                   required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="email" name="email" th:field="*{email}" class="form-control"
                                   placeholder="e-mail"
                                   required>
                            <p th:text="${error}"></p>
                        </div>
                        <div class="form-group">
                            <input id="passwordf" type="password" name="password"
                                   class="form-control"
                                   placeholder="Parola"
                                   th:field="*{password}"
                                   required>
                            <span toggle="#passwordf" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">Inregistrare</button>
                        </div>

                    </form>

                    <div class="social d-flex text-center">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>

